version: 2
defaults: &defaults
  docker:
    - image: ubuntu:19.04
jobs:
  build_linux:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Id
          command: cat /etc/*release
      - run:
          name: Setup requirements
          command: |
            apt-get update
            apt-get install -y git cmake libpng-dev libfreetype6-dev libdbus-glib-1-dev libgtk2.0-dev curl
      - run:
          name: Build for Linux
          command: |
            git clone https://github.com/jandegr/navit.git
            cd navit
            mkdir bin
            cd bin
            cmake ../navit -DSAMPLE_MAP=n -Dgraphics/qt_qpainter:BOOL=FALSE -Dgui/qml:BOOL=FALSE:
            make -j2
workflows:
  version: 2
  build_all:
    jobs:
      - build_linux
